{
    "openapi": "3.0.1",
    "info": {
        "title": "Orders API",
        "description": "Orders API",
        "contact": {
            "name": "Meight Engineering Support",
            "email": "engineering@meight.com"
        },
        "version": "2.0"
    },
    "externalDocs": {
        "description": "OpenAPI",
        "url": "https://swagger.io/resources/open-api/"
    },
    "servers": [
        {
            "url": "//api.meight.com/v2/orders"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "List Orders",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "delivery",
                                "pickup",
                                "transfer",
                                "drop",
                                "hook"
                            ]
                        }
                    },
                    {
                        "name": "customer_ids",
                        "in": "query",
                        "description": "filter orders by customer id",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "route",
                                    "order_map",
                                    "place",
                                    "customer",
                                    "freight_order",
                                    "routing_settings",
                                    "trailer",
                                    "tracking"
                                ]
                            }
                        }
                    },
                    {
                        "name": "freight_ids",
                        "in": "query",
                        "description": "Filter orders by freight id",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "include_associated_freights",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 50
                        }
                    },
                    {
                        "name": "order_ids",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "order_map_ids",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "smart_view",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "time_arrival",
                            "enum": [
                                "time_arrival"
                            ]
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "start_time_after",
                        "in": "query",
                        "description": "Filter orders belonging to an order map with start time after this value",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_time_before",
                        "in": "query",
                        "description": "Filter orders belonging to an order map with start time before this value",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "starting_after",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "open",
                                "subcontracted",
                                "scheduled",
                                "started",
                                "canceled",
                                "dropped",
                                "closed",
                                "failed",
                                "rescheduled",
                                "created"
                            ]
                        }
                    },
                    {
                        "name": "time_arrival_after",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "time_arrival_before",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "unattached",
                        "in": "query",
                        "description": "Filter orders without an attached order-map",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/controller.listOrdersResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0100201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/ecmrs": {
            "get": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "List eCMRs",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "freight",
                                    "freight_order"
                                ]
                            }
                        }
                    },
                    {
                        "name": "include_attachments",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "include_order_map_id",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "smart_view",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "created_at",
                            "enum": [
                                "created_at",
                                "updated_at"
                            ]
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "starting_after",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/controller.listECMRsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "Create eCMR",
                "description": "Creates an eCMR for a given freight",
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/controller.createECMRBodyRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/model.ECMR"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Error Codes: 0303403",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0100301, 0100501",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            }
        },
        "/ecmrs/filters": {
            "get": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "List eCMRs Filters",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/model.SmartViewAvailableFilter"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/ecmrs/{ecmr_id}": {
            "get": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "Get eCMR",
                "description": "Gets an eCMR",
                "parameters": [
                    {
                        "name": "ecmr_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "freight",
                                    "freight_order",
                                    "place"
                                ]
                            }
                        }
                    },
                    {
                        "name": "include_attachments",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "include_order_map_id",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/model.ECMR"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0108701",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "Update eCMR",
                "description": "Updates an eCMR",
                "parameters": [
                    {
                        "name": "ecmr_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/controller.updateECMRBodyRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/model.ECMRAttachment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Error Codes: 0108702",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0108701",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            },
            "delete": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "Delete eCMR",
                "parameters": [
                    {
                        "name": "ecmr_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0108701,0108702",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/ecmrs/{ecmr_id}/attachments": {
            "post": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "Append document",
                "description": "Appends a document to an eCMR",
                "parameters": [
                    {
                        "name": "ecmr_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "document"
                                ],
                                "type": "object",
                                "properties": {
                                    "document": {
                                        "type": "string",
                                        "description": "File to append to eCMR",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    },
                    "400": {
                        "description": "Cant append document to eCMR in this state - Error Codes: 0108702",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0108701",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "File size bigger than 50 MB",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "Only PDF files are supported",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/ecmrs/{ecmr_id}/attachments/{ecmr_attachment_id}": {
            "delete": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "Delete eCMR Attachment",
                "parameters": [
                    {
                        "name": "ecmr_attachment_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ecmr_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "content": {}
                    },
                    "400": {
                        "description": "Bad Request - Error Codes: 0108702",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0108701,0108801",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/ecmrs/{ecmr_id}/download": {
            "get": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "Download eCMR",
                "parameters": [
                    {
                        "name": "ecmr_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0108701",
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/ecmrs/{ecmr_id}/share": {
            "get": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "Share eCMR",
                "description": "Share an eCMR",
                "parameters": [
                    {
                        "name": "ecmr_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phone_number",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "via",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "link",
                                "email",
                                "sms"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/model.ECMRShareResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Error Codes: 0108700",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0108701",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/ecmrs/{ecmr_id}/sign": {
            "get": {
                "tags": [
                    "eCMRs"
                ],
                "summary": "Sign eCMR",
                "parameters": [
                    {
                        "name": "ecmr_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "entity",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "sender",
                                "carrier",
                                "consignee"
                            ]
                        }
                    },
                    {
                        "name": "phone_number",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "via",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "link",
                                "email",
                                "sms"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/model.ECMRSignResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/filters": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "List Orders Filters",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/model.SmartViewAvailableFilter"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/last": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "List Last Orders for a specific Entity",
                "parameters": [
                    {
                        "name": "before_datetime",
                        "in": "query",
                        "description": "If set, orders will be filtered by before_datetime",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "entity",
                        "in": "query",
                        "description": "Entity to get last orders by",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "driver",
                                "vehicle",
                                "trailer"
                            ]
                        }
                    },
                    {
                        "name": "entity_ids",
                        "in": "query",
                        "description": "If set, orders entity will be filtered by the entity_ids",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "route",
                                    "order_map",
                                    "place",
                                    "customer",
                                    "freight_order",
                                    "routing_settings",
                                    "trailer",
                                    "tracking"
                                ]
                            }
                        }
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "If set, orders will be sorted by distance",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of orders to retrieve",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "If set, orders will be sorted by distance",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "starting_after",
                        "in": "query",
                        "description": "Cursor retrieves limit orders after id",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/controller.listLastOrdersResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0100101",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/order-maps": {
            "get": {
                "tags": [
                    "Order Maps"
                ],
                "summary": "List Order Maps",
                "parameters": [
                    {
                        "name": "customer_ids",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "datetime_after",
                        "in": "query",
                        "description": "Include only after a given datetime",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datetime_before",
                        "in": "query",
                        "description": "Include only before a given datetime",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "datetime_field",
                        "in": "query",
                        "description": "Invoice datetime field to filter",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "start_time",
                                "updated_at",
                                "arrival_time",
                                "between_arrival_times"
                            ]
                        }
                    },
                    {
                        "name": "driver_ids",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "driver",
                                    "vehicle",
                                    "trailer",
                                    "tracking",
                                    "order",
                                    "place",
                                    "user",
                                    "purchase_order",
                                    "order_map_custom_field",
                                    "eta"
                                ]
                            }
                        }
                    },
                    {
                        "name": "freight_ids",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "include_empty",
                        "in": "query",
                        "description": "Include empty order maps, i.e. without any order attached",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "is_subcontracted",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "order_category",
                        "in": "query",
                        "description": "Order category to filter datetime_field arrival_time",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "delivery",
                                "pickup",
                                "transfer",
                                "drop",
                                "hook"
                            ]
                        }
                    },
                    {
                        "name": "order_map_ids",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "smart_view",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "start_time",
                            "enum": [
                                "start_time",
                                "updated_at",
                                "distance",
                                "driver_id",
                                "driver_name",
                                "registration_plate",
                                "origin",
                                "last_order_time_arrival",
                                "last_place_region",
                                "is_subcontracted"
                            ]
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "starting_after",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "states",
                        "in": "query",
                        "description": "States defaults to a List of \"final\"",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "draft",
                                    "final"
                                ]
                            }
                        }
                    },
                    {
                        "name": "trailer_ids",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "vehicle_ids",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "Time-Zone",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "UTC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/controller.listOrderMapsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Error Codes: 0103600",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0100301,0103101",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/order-maps/documents": {
            "get": {
                "tags": [
                    "Order Maps"
                ],
                "summary": "List Order Map Documents",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "order_map",
                                    "workspace",
                                    "order"
                                ]
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "smart_view",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "created_at",
                            "enum": [
                                "created_at",
                                "updated_at",
                                "created_by",
                                "updated_by",
                                "order_map_id",
                                "order_id",
                                "purchase_order_id",
                                "category",
                                "code",
                                "document_name",
                                "description",
                                "rejection_notes",
                                "expiration_date"
                            ]
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "starting_after",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/controller.listOrderMapsDocumentsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Error Codes: 0100608",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/order-maps/documents/filters": {
            "get": {
                "tags": [
                    "Order Maps"
                ],
                "summary": "List Order Maps available filters",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/model.SmartViewAvailableFilter"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/order-maps/filters": {
            "get": {
                "tags": [
                    "Order Maps"
                ],
                "summary": "List Order Maps Filters",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/model.SmartViewAvailableFilter"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/order-maps/purchase-orders/{purchase_order_id}": {
            "get": {
                "tags": [
                    "Purchase Orders"
                ],
                "summary": "Get Purchase Order by ID",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "customer",
                                    "customer_place",
                                    "freight_item",
                                    "freight_tax",
                                    "purchase_order_item",
                                    "order"
                                ]
                            }
                        }
                    },
                    {
                        "name": "purchase_order_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/model.PurchaseOrder"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0100701",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/order-maps/{order_map_id}": {
            "get": {
                "tags": [
                    "Order Maps"
                ],
                "summary": "Get Order Map by ID",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "driver",
                                    "vehicle",
                                    "trailer",
                                    "tracking",
                                    "order",
                                    "place",
                                    "user",
                                    "purchase_order",
                                    "order_map_custom_field",
                                    "eta"
                                ]
                            }
                        }
                    },
                    {
                        "name": "order_map_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/model.OrderMap"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0100201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/ping": {
            "get": {
                "tags": [
                    "Ops"
                ],
                "summary": "Ping",
                "description": "Ping server",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/places": {
            "get": {
                "tags": [
                    "Places"
                ],
                "summary": "List Places",
                "parameters": [
                    {
                        "name": "address",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "warehouse",
                                "shop",
                                "house",
                                "office"
                            ]
                        }
                    },
                    {
                        "name": "ending_before",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "external_id",
                        "in": "query",
                        "description": "Filter by ExternalID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "Filter by IsActive",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "place_ids",
                        "in": "query",
                        "description": "Filter by place IDs",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "name",
                                "country",
                                "distance",
                                "created_at",
                                "updated_at"
                            ]
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "starting_after",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/controller.listPlacesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/{order_id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get Order by ID",
                "parameters": [
                    {
                        "name": "expand",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "route",
                                    "order_map",
                                    "place",
                                    "customer",
                                    "freight_order",
                                    "routing_settings",
                                    "trailer",
                                    "tracking"
                                ]
                            }
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/model.Order"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Error Codes: 0100101",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/middleware.ErrorDetail"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BasicAuth": []
                    },
                    {
                        "BearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "controller.createECMRBodyRequest": {
                "required": [
                    "delivery_freight_order_id",
                    "pickup_freight_order_id"
                ],
                "type": "object",
                "properties": {
                    "delivery_datetime": {
                        "type": "string"
                    },
                    "delivery_freight_order_id": {
                        "type": "string"
                    },
                    "pickup_datetime": {
                        "type": "string"
                    },
                    "pickup_freight_order_id": {
                        "type": "string"
                    }
                }
            },
            "controller.listECMRsResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "description": "List of ECMRs",
                        "items": {
                            "$ref": "#/components/schemas/model.ECMR"
                        }
                    },
                    "has_more": {
                        "type": "boolean",
                        "description": "Whether there are more items to fetch"
                    }
                }
            },
            "controller.listLastOrdersResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "description": "List of Orders",
                        "items": {
                            "$ref": "#/components/schemas/model.LastOrder"
                        }
                    },
                    "has_more": {
                        "type": "boolean",
                        "description": "Whether there are more items to fetch"
                    }
                }
            },
            "controller.listOrderMapsDocumentsResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "description": "List of order map documents",
                        "items": {
                            "$ref": "#/components/schemas/model.OrderMapDocument"
                        }
                    },
                    "has_more": {
                        "type": "boolean",
                        "description": "Whether there are more items to fetch"
                    }
                }
            },
            "controller.listOrderMapsResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "description": "List of Order Maps",
                        "items": {
                            "$ref": "#/components/schemas/model.OrderMap"
                        }
                    },
                    "has_more": {
                        "type": "boolean",
                        "description": "Whether there are more items to fetch"
                    }
                }
            },
            "controller.listOrdersResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "description": "List of Orders",
                        "items": {
                            "$ref": "#/components/schemas/model.Order"
                        }
                    },
                    "has_more": {
                        "type": "boolean",
                        "description": "Whether there are more items to fetch"
                    }
                }
            },
            "controller.listPlacesResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "description": "List of places",
                        "items": {
                            "$ref": "#/components/schemas/model.Place"
                        }
                    },
                    "has_more": {
                        "type": "boolean",
                        "description": "Whether there are more items to fetch"
                    }
                }
            },
            "controller.updateECMRBodyRequest": {
                "type": "object",
                "properties": {
                    "fuel_price": {
                        "type": "number"
                    },
                    "trailer_registration_plate": {
                        "type": "string"
                    },
                    "vehicle_registration_plate": {
                        "type": "string"
                    }
                }
            },
            "middleware.ErrorDetail": {
                "type": "object",
                "properties": {
                    "error_code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "validations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/middleware.ValidationError"
                        }
                    }
                }
            },
            "middleware.ValidationError": {
                "type": "object",
                "properties": {
                    "field": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "model.Country": {
                "type": "string",
                "enum": [
                    "AD",
                    "AE",
                    "AF",
                    "AG",
                    "AI",
                    "AL",
                    "AM",
                    "AO",
                    "AQ",
                    "AR",
                    "AS",
                    "AT",
                    "AU",
                    "AW",
                    "AX",
                    "AZ",
                    "BA",
                    "BB",
                    "BD",
                    "BE",
                    "BF",
                    "BG",
                    "BH",
                    "BI",
                    "BJ",
                    "BL",
                    "BM",
                    "BN",
                    "BO",
                    "BQ",
                    "BR",
                    "BS",
                    "BT",
                    "BV",
                    "BW",
                    "BY",
                    "BZ",
                    "CA",
                    "CC",
                    "CD",
                    "CF",
                    "CG",
                    "CH",
                    "CI",
                    "CK",
                    "CL",
                    "CM",
                    "CN",
                    "CO",
                    "CR",
                    "CU",
                    "CV",
                    "CW",
                    "CX",
                    "CY",
                    "CZ",
                    "DE",
                    "DJ",
                    "DK",
                    "DM",
                    "DO",
                    "DZ",
                    "EC",
                    "EE",
                    "EG",
                    "EH",
                    "ER",
                    "ES",
                    "ET",
                    "FI",
                    "FJ",
                    "FK",
                    "FM",
                    "FO",
                    "FR",
                    "GA",
                    "GB",
                    "GD",
                    "GE",
                    "GF",
                    "GG",
                    "GH",
                    "GI",
                    "GL",
                    "GM",
                    "GN",
                    "GP",
                    "GQ",
                    "GR",
                    "GS",
                    "GT",
                    "GU",
                    "GW",
                    "GY",
                    "HK",
                    "HM",
                    "HN",
                    "HR",
                    "HT",
                    "HU",
                    "ID",
                    "IE",
                    "IL",
                    "IM",
                    "IN",
                    "IO",
                    "IQ",
                    "IR",
                    "IS",
                    "IT",
                    "JE",
                    "JM",
                    "JO",
                    "JP",
                    "KE",
                    "KG",
                    "KH",
                    "KI",
                    "KM",
                    "KN",
                    "KP",
                    "KR",
                    "KW",
                    "KY",
                    "KZ",
                    "LA",
                    "LB",
                    "LC",
                    "LI",
                    "LK",
                    "LR",
                    "LS",
                    "LT",
                    "LU",
                    "LV",
                    "LY",
                    "MA",
                    "MC",
                    "MD",
                    "ME",
                    "MF",
                    "MG",
                    "MH",
                    "MK",
                    "ML",
                    "MM",
                    "MN",
                    "MO",
                    "MP",
                    "MQ",
                    "MR",
                    "MS",
                    "MT",
                    "MU",
                    "MV",
                    "MW",
                    "MX",
                    "MY",
                    "MZ",
                    "NA",
                    "NC",
                    "NE",
                    "NF",
                    "NG",
                    "NI",
                    "NL",
                    "NO",
                    "NP",
                    "NR",
                    "NU",
                    "NZ",
                    "OM",
                    "PA",
                    "PE",
                    "PF",
                    "PG",
                    "PH",
                    "PK",
                    "PL",
                    "PM",
                    "PN",
                    "PR",
                    "PS",
                    "PT",
                    "PW",
                    "PY",
                    "QA",
                    "RE",
                    "RO",
                    "RS",
                    "RU",
                    "RW",
                    "SA",
                    "SB",
                    "SC",
                    "SD",
                    "SE",
                    "SG",
                    "SH",
                    "SI",
                    "SJ",
                    "SK",
                    "SL",
                    "SM",
                    "SN",
                    "SO",
                    "SR",
                    "SS",
                    "ST",
                    "SV",
                    "SX",
                    "SY",
                    "SZ",
                    "TC",
                    "TD",
                    "TF",
                    "TG",
                    "TH",
                    "TJ",
                    "TK",
                    "TL",
                    "TM",
                    "TN",
                    "TO",
                    "TR",
                    "TT",
                    "TV",
                    "TW",
                    "TZ",
                    "UA",
                    "UG",
                    "UM",
                    "US",
                    "UY",
                    "UZ",
                    "VA",
                    "VC",
                    "VE",
                    "VG",
                    "VI",
                    "VN",
                    "VU",
                    "WF",
                    "WS",
                    "YE",
                    "YT",
                    "ZA",
                    "ZM",
                    "ZW"
                ],
                "x-enum-comments": {
                    "CountryAD": "AD",
                    "CountryAE": "AE",
                    "CountryAF": "AF",
                    "CountryAG": "AG",
                    "CountryAI": "AI",
                    "CountryAL": "AL",
                    "CountryAM": "AM",
                    "CountryAO": "AO",
                    "CountryAQ": "AQ",
                    "CountryAR": "AR",
                    "CountryAS": "AS",
                    "CountryAT": "AT",
                    "CountryAU": "AU",
                    "CountryAW": "AW",
                    "CountryAX": "AX",
                    "CountryAZ": "AZ",
                    "CountryBA": "BA",
                    "CountryBB": "BB",
                    "CountryBD": "BD",
                    "CountryBE": "BE",
                    "CountryBF": "BF",
                    "CountryBG": "BG",
                    "CountryBH": "BH",
                    "CountryBI": "BI",
                    "CountryBJ": "BJ",
                    "CountryBL": "BL",
                    "CountryBM": "BM",
                    "CountryBN": "BN",
                    "CountryBO": "BO",
                    "CountryBQ": "BQ",
                    "CountryBR": "BR",
                    "CountryBS": "BS",
                    "CountryBT": "BT",
                    "CountryBV": "BV",
                    "CountryBW": "BW",
                    "CountryBY": "BY",
                    "CountryBZ": "BZ",
                    "CountryCA": "CA",
                    "CountryCC": "CC",
                    "CountryCD": "CD",
                    "CountryCF": "CF",
                    "CountryCG": "CG",
                    "CountryCH": "CH",
                    "CountryCI": "CI",
                    "CountryCK": "CK",
                    "CountryCL": "CL",
                    "CountryCM": "CM",
                    "CountryCN": "CN",
                    "CountryCO": "CO",
                    "CountryCR": "CR",
                    "CountryCU": "CU",
                    "CountryCV": "CV",
                    "CountryCW": "CW",
                    "CountryCX": "CX",
                    "CountryCY": "CY",
                    "CountryCZ": "CZ",
                    "CountryDE": "DE",
                    "CountryDJ": "DJ",
                    "CountryDK": "DK",
                    "CountryDM": "DM",
                    "CountryDO": "DO",
                    "CountryDZ": "DZ",
                    "CountryEC": "EC",
                    "CountryEE": "EE",
                    "CountryEG": "EG",
                    "CountryEH": "EH",
                    "CountryER": "ER",
                    "CountryES": "ES",
                    "CountryET": "ET",
                    "CountryFI": "FI",
                    "CountryFJ": "FJ",
                    "CountryFK": "FK",
                    "CountryFM": "FM",
                    "CountryFO": "FO",
                    "CountryFR": "FR",
                    "CountryGA": "GA",
                    "CountryGB": "GB",
                    "CountryGD": "GD",
                    "CountryGE": "GE",
                    "CountryGF": "GF",
                    "CountryGG": "GG",
                    "CountryGH": "GH",
                    "CountryGI": "GI",
                    "CountryGL": "GL",
                    "CountryGM": "GM",
                    "CountryGN": "GN",
                    "CountryGP": "GP",
                    "CountryGQ": "GQ",
                    "CountryGR": "GR",
                    "CountryGS": "GS",
                    "CountryGT": "GT",
                    "CountryGU": "GU",
                    "CountryGW": "GW",
                    "CountryGY": "GY",
                    "CountryHK": "HK",
                    "CountryHM": "HM",
                    "CountryHN": "HN",
                    "CountryHR": "HR",
                    "CountryHT": "HT",
                    "CountryHU": "HU",
                    "CountryID": "ID",
                    "CountryIE": "IE",
                    "CountryIL": "IL",
                    "CountryIM": "IM",
                    "CountryIN": "IN",
                    "CountryIO": "IO",
                    "CountryIQ": "IQ",
                    "CountryIR": "IR",
                    "CountryIS": "IS",
                    "CountryIT": "IT",
                    "CountryJE": "JE",
                    "CountryJM": "JM",
                    "CountryJO": "JO",
                    "CountryJP": "JP",
                    "CountryKE": "KE",
                    "CountryKG": "KG",
                    "CountryKH": "KH",
                    "CountryKI": "KI",
                    "CountryKM": "KM",
                    "CountryKN": "KN",
                    "CountryKP": "KP",
                    "CountryKR": "KR",
                    "CountryKW": "KW",
                    "CountryKY": "KY",
                    "CountryKZ": "KZ",
                    "CountryLA": "LA",
                    "CountryLB": "LB",
                    "CountryLC": "LC",
                    "CountryLI": "LI",
                    "CountryLK": "LK",
                    "CountryLR": "LR",
                    "CountryLS": "LS",
                    "CountryLT": "LT",
                    "CountryLU": "LU",
                    "CountryLV": "LV",
                    "CountryLY": "LY",
                    "CountryMA": "MA",
                    "CountryMC": "MC",
                    "CountryMD": "MD",
                    "CountryME": "ME",
                    "CountryMF": "MF",
                    "CountryMG": "MG",
                    "CountryMH": "MH",
                    "CountryMK": "MK",
                    "CountryML": "ML",
                    "CountryMM": "MM",
                    "CountryMN": "MN",
                    "CountryMO": "MO",
                    "CountryMP": "MP",
                    "CountryMQ": "MQ",
                    "CountryMR": "MR",
                    "CountryMS": "MS",
                    "CountryMT": "MT",
                    "CountryMU": "MU",
                    "CountryMV": "MV",
                    "CountryMW": "MW",
                    "CountryMX": "MX",
                    "CountryMY": "MY",
                    "CountryMZ": "MZ",
                    "CountryNA": "NA",
                    "CountryNC": "NC",
                    "CountryNE": "NE",
                    "CountryNF": "NF",
                    "CountryNG": "NG",
                    "CountryNI": "NI",
                    "CountryNL": "NL",
                    "CountryNO": "NO",
                    "CountryNP": "NP",
                    "CountryNR": "NR",
                    "CountryNU": "NU",
                    "CountryNZ": "NZ",
                    "CountryOM": "OM",
                    "CountryPA": "PA",
                    "CountryPE": "PE",
                    "CountryPF": "PF",
                    "CountryPG": "PG",
                    "CountryPH": "PH",
                    "CountryPK": "PK",
                    "CountryPL": "PL",
                    "CountryPM": "PM",
                    "CountryPN": "PN",
                    "CountryPR": "PR",
                    "CountryPS": "PS",
                    "CountryPT": "PT",
                    "CountryPW": "PW",
                    "CountryPY": "PY",
                    "CountryQA": "QA",
                    "CountryRE": "RE",
                    "CountryRO": "RO",
                    "CountryRS": "RS",
                    "CountryRU": "RU",
                    "CountryRW": "RW",
                    "CountrySA": "SA",
                    "CountrySB": "SB",
                    "CountrySC": "SC",
                    "CountrySD": "SD",
                    "CountrySE": "SE",
                    "CountrySG": "SG",
                    "CountrySH": "SH",
                    "CountrySI": "SI",
                    "CountrySJ": "SJ",
                    "CountrySK": "SK",
                    "CountrySL": "SL",
                    "CountrySM": "SM",
                    "CountrySN": "SN",
                    "CountrySO": "SO",
                    "CountrySR": "SR",
                    "CountrySS": "SS",
                    "CountryST": "ST",
                    "CountrySV": "SV",
                    "CountrySX": "SX",
                    "CountrySY": "SY",
                    "CountrySZ": "SZ",
                    "CountryTC": "TC",
                    "CountryTD": "TD",
                    "CountryTF": "TF",
                    "CountryTG": "TG",
                    "CountryTH": "TH",
                    "CountryTJ": "TJ",
                    "CountryTK": "TK",
                    "CountryTL": "TL",
                    "CountryTM": "TM",
                    "CountryTN": "TN",
                    "CountryTO": "TO",
                    "CountryTR": "TR",
                    "CountryTT": "TT",
                    "CountryTV": "TV",
                    "CountryTW": "TW",
                    "CountryTZ": "TZ",
                    "CountryUA": "UA",
                    "CountryUG": "UG",
                    "CountryUM": "UM",
                    "CountryUS": "US",
                    "CountryUY": "UY",
                    "CountryUZ": "UZ",
                    "CountryVA": "VA",
                    "CountryVC": "VC",
                    "CountryVE": "VE",
                    "CountryVG": "VG",
                    "CountryVI": "VI",
                    "CountryVN": "VN",
                    "CountryVU": "VU",
                    "CountryWF": "WF",
                    "CountryWS": "WS",
                    "CountryYE": "YE",
                    "CountryYT": "YT",
                    "CountryZA": "ZA",
                    "CountryZM": "ZM",
                    "CountryZW": "ZW"
                },
                "x-enum-varnames": [
                    "CountryAD",
                    "CountryAE",
                    "CountryAF",
                    "CountryAG",
                    "CountryAI",
                    "CountryAL",
                    "CountryAM",
                    "CountryAO",
                    "CountryAQ",
                    "CountryAR",
                    "CountryAS",
                    "CountryAT",
                    "CountryAU",
                    "CountryAW",
                    "CountryAX",
                    "CountryAZ",
                    "CountryBA",
                    "CountryBB",
                    "CountryBD",
                    "CountryBE",
                    "CountryBF",
                    "CountryBG",
                    "CountryBH",
                    "CountryBI",
                    "CountryBJ",
                    "CountryBL",
                    "CountryBM",
                    "CountryBN",
                    "CountryBO",
                    "CountryBQ",
                    "CountryBR",
                    "CountryBS",
                    "CountryBT",
                    "CountryBV",
                    "CountryBW",
                    "CountryBY",
                    "CountryBZ",
                    "CountryCA",
                    "CountryCC",
                    "CountryCD",
                    "CountryCF",
                    "CountryCG",
                    "CountryCH",
                    "CountryCI",
                    "CountryCK",
                    "CountryCL",
                    "CountryCM",
                    "CountryCN",
                    "CountryCO",
                    "CountryCR",
                    "CountryCU",
                    "CountryCV",
                    "CountryCW",
                    "CountryCX",
                    "CountryCY",
                    "CountryCZ",
                    "CountryDE",
                    "CountryDJ",
                    "CountryDK",
                    "CountryDM",
                    "CountryDO",
                    "CountryDZ",
                    "CountryEC",
                    "CountryEE",
[...]
